//id  "myonoffswitch"

mixin toggle(context)
  .onoffswitch
    input(
      type="checkbox"
      name= context.id
      class="onoffswitch-checkbox"
      id= context.id,
      checked= context.checked
      )
    label.onoffswitch-label(for= context.id)
      span.onoffswitch-inner
      span.onoffswitch-switch